{% extends "base.html" %}
{% block nav1 %} <a class="navbar-brand js-scroll-trigger" href="#page-top">Pneumonia Predictor</a>{% endblock %}
{% block nav2 %} <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>{% endblock %}
{% block slide1 %}Pneumonia detection using convolutional neural network.{% endblock %}
{% block slide2 %}<h1 class="display-4 text-center">Web application based on the convolutional neural network to predict whether the patient suffers from pneumonia
    based on their RTG photo.</h1>{% endblock %}